section {
	margin: 30px 0;
	}

#section_wrap {
	width: 1200px;
	margin: 0 auto;
	}

#section_wrap .word {
	width: 1024px;
	margin: 0 auto;
	text-align: center;
	}
	
#section_wrap .modify_account_form {
	width: 1024px;
	margin: 0 auto;
	text-align: center;
	}

#section_wrap .modify_account_form .form_wrap{
	text-align: left;
	margin: 0 340px 20px;
}	
#section_wrap .modify_account_form .form_wrap .form_title{
	text-align: left;
}

#section_wrap .modify_account_form .form_wrap .form_content{
	text-align: right;
}

#section_wrap .modify_account_form input {
	width: 300px;
	margin: 3px;
	}

#section_wrap .modify_account_form select {
	width: 300px;
	margin: 3px;
	}

#section_wrap .modify_account_form input[type='button'],
#section_wrap .modify_account_form input[type='reset'] {
	width: 162px;
	height: 40px;
	background-color: #79CAC7;
	color:#fff;
    font-weight: bold;
	}